body{
    padding: 0px;
    margin: 0px;
}
.box{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;    
    padding: 0 20px     
}



.box-header{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;    
    padding: 0 20px     
}
.containeres{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.header {
    min-height: 90px;
    height: auto;
    width: 100%;
    background: black;
    position: relative;
}

.header.scrolled{
    position: fixed;
}


.headerContent{
    display: flex;
    justify-content: space-around;
}

@media(max-width:950px){
    .headerContent{
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    .logoHeader{
        align-items: center;
    }
    .header-right{
        flex-wrap: wrap
    }
    
}
.logoHeader{
    width: 40%;
    height: 90px;
    align-items: center;
    
}

img{
    height: 100px;
    width: 190px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 50%;
    width: auto;
    color: white;
    justify-content: space-around;
}

a:hover {
    color: inherit !important;
}

.header-right a {
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    display: inline-block; 
    padding-bottom: 4px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}


.header-right a:hover{
    cursor: pointer;
    color: #c7a489;
    transition: backgound-color 0.3s ease-in-out;
}

.header-right a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;            
    background: #c7a489;    
    transition: width 0.35s ease; 
}

.header-right a:hover::after {
    width: 100%; 
}


.main{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: black;
}

.contatoContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    align-items: center;
}


.tituloContato{
    text-align: center;
}
.tituloContato h1{
    font-size: 45px;
}
.tituloContato p{
    font-size: 20px;
}

.corpoContato{
    display: flex;
    margin-top: 40px;
    width: 80%;
    min-height: 80%;
    height: auto;
}

.esquerdaContato{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.esquerdaContato div{
    padding: 12px 30px;
    display: inline-block;
    border: solid 1px rgba(104, 104, 104, 0.377);;
    border-radius: 10px;
    background-color: #141414;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.esquerdaContato div:hover{
    border-color: #c7a489;
}

#btnWhats{
    text-decoration: none;
    padding: 12px 30px;
    display: inline-block;
    border: solid 1px #c7a489;
    color: #c7a489;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

#btnWhats:hover{
    background-color: #c7a489;
    transform: scale(1.05);
    transition: transform 0.6s ease-in-out;
}

.direitaContato{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    flex-direction: column;
}

.mapaContato {
    min-width: 100%;
    height: 100%;
    border: 3px solid #ddd;  
    border-radius: 10px;     
    overflow: hidden;
    
    
}


.mapaContato iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.disponibilidadeContato {
    padding: 12px 30px;
    border: 1px solid rgba(104, 104, 104, 0.377);
    border-radius: 10px;
    background-color: #141414;
    margin-top: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.disponibilidadeContato h3 {
    margin-bottom: 10px;
}

#dataAgenda {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: black;
    color: white;
    border: 1px solid #444;
    border-radius: 8px;
}

#btnConsultar {
    width: 100%;
    padding: 12px;
    background-color: #c7a489;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

#btnConsultar:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

#resultadoDisponibilidade {
    margin-top: 15px;
    font-size: 16px;
}


@media(max-width:1300px){
    .corpoContato{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .esquerdaContato{
        width: 100%;
    }

    .direitaContato{
        width: 100%;
        margin-left: 0px;
        height: 600px;
    }
}

.footer{
    min-height: 350px;
    height: auto;
    background-color: #141414;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    margin-top: 15px;
}

.logoFooter{
    color: #dadee5;

}

.logoFooter img{
    height: 170px;
    width: auto;
}

.links-footer{
    margin-top: 50px;
}
.links-footer h2{
    margin-bottom: 20px;
}

.links-footer a{
    color: #dadee5;
    text-decoration: none;
    display: block;
}

.links-footer a:hover{
    color: #c7a489 !important; 
}

.contatoFooter{
    margin-top: 50px;
}

.contatoFooter h2{
    margin-bottom: 20px;
}

.contatoFooter p{
    color: #dadee5;
}

.meuBtnFooter{
    padding: 8px 8px;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    background-color: #141414;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 5px;
}

.meuBtnFooter img{
    width: 40px;
    height: auto;
}

.meuBtnFooter:hover{
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

@media(max-width:800px){
    .footer-content{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .footer-content div{
        border: solid 1px wheat;
        border-radius: 8px;
    }
}