body{
    padding: 0px;
    margin: 0px;
}
.box{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;    /* Centraliza a caixa na tela */
    padding: 0 20px     
}



.box-header{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;    /* Centraliza a caixa na tela */
    padding: 0 20px     
}
.containeres{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.header {
    min-height: 90px;
    height: auto;
    width: 100%;
    background: black;
    position: relative;
}

.header.scrolled{
    position: fixed;
}


.headerContent{
    display: flex;
    justify-content: space-around;
}

@media(max-width:950px){
    .headerContent{
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    .logoHeader{
        align-items: center;
    }
    .header-right{
        flex-wrap: wrap
    }
    
}
.logoHeader{
    width: 40%;
    height: 90px;
    align-items: center;
    
}

img{
    height: 100px;
    width: 190px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 50%;
    width: auto;
    color: white;
    justify-content: space-around;
}

a:hover {
    color: inherit !important;
}

.header-right a {
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    display: inline-block; 
    padding-bottom: 4px;   /* espaço para a barrinha */
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}


.header-right a:hover{
    cursor: pointer;
    color: #c7a489;
    transition: backgound-color 0.3s ease-in-out;
}

.header-right a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;          /* espessura do barrinha */
    width: 0%;            /* começa invisível */
    background: #c7a489;    
    transition: width 0.35s ease; 
}

.header-right a:hover::after {
    width: 100%; /* cresce como barra de carregamento */
}


.main{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #141414;
}

.equipeContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    align-items: center;
}

.equipe{
    height: 250px;
    width: 100%;
    display: flex;
    padding: 15px;
}


.imagem-equipe{
    width: 250px;
    height: auto;
    border-radius: 15px;
}

.texto-equipe{
    width: 90%;
    height: 100%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    overflow-wrap: break-word;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
}

.texto-equipe h3{
    color: #c7a489;
}

.texto-equipe p{
    color: #dadee5;
    font-size: 20px;
}
#content1{
    background-color: black;
    border-radius: 15px;
}

#content2{
    flex-direction: row-reverse;
}

#content3{
    background-color: black;
    border-radius: 15px;
}

#content4{
    flex-direction: row-reverse;
}

#texto-content2 h2{
    justify-content: end;
}

@media(max-width:800px){
    .equipe{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .texto-equipe{
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    }

    
    .imagem-equipe{
    width: 250px;
    height: auto;
    border-radius: 15px;
    }

    #content2{
        flex-direction: column;
    }

    #content4{
        flex-direction: column;
    }
}
.footer{
    min-height: 350px;
    height: auto;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    margin-top: 15px;
}

.logoFooter{
    color: #dadee5;

}

.logoFooter img{
    height: 170px;
    width: auto;
}

.links-footer{
    margin-top: 50px;
}
.links-footer h2{
    margin-bottom: 20px;
}

.links-footer a{
    color: #dadee5;
    text-decoration: none;
    display: block;
}

.links-footer a:hover{
    color: #c7a489 !important; 
}

.contatoFooter{
    margin-top: 50px;
}

.contatoFooter h2{
    margin-bottom: 20px;
}

.contatoFooter p{
    color: #dadee5;
}

.meuBtnFooter{
    padding: 8px 8px;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    background-color: #141414;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 5px;
}

.meuBtnFooter img{
    width: 40px;
    height: auto;
}

.meuBtnFooter:hover{
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

@media(max-width:800px){
    .footer-content{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .footer-content div{
        border: solid 1px wheat;
        border-radius: 8px;
    }
}