body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 90px;
    width: 100%;
    display: flex;
    background: transparent;
    position: fixed;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.header.scrolled {
    background: rgba(0, 0, 0, 0.85); /* preto ao rolar */
    backdrop-filter: blur(4px);
}

.logoHeader{
    width: 50%;
    height: 90px;
    align-items: center;
    
}

img{
    height: 100px;
    width: 190px;
}

.header-right{
    display: flex;
    flex: 6;
    align-items: center;
    gap: 20px;
    width: 50%;
    color: white;
}

.header-right div {
    position: relative;
    display: inline-block; /* garante que a largura seja do texto */
    padding-bottom: 4px;   /* espaço para a barra */
}

.header-right > div:hover{
    cursor: pointer;
    color: #c7a489;
    transition: backgound-color 0.3s ease-in-out;
}

.header-right div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;          /* espessura do sublinhado */
    width: 0%;            /* começa invisível */
    background: #c7a489;    /* cor da barra */
    transition: width 0.35s ease; /* suavização */
}

.header-right div:hover::after {
    width: 100%; /* cresce como barra de carregamento */
}

.oEstudio{
    white-space: nowrap;
}

.modern {
    padding-left: 10px;
    position: relative;
    height: 1000px;
    width: 100%;
    background-image: url('arte.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.modern::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6); /* escurece a imagem */
    z-index: 1;
}

.textModern {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
}

.textModern h1 {
    font-size: 64px;
    line-height: 1.1;
    font-weight: 900;
}

.textModern h1 span {
    color: #c7a489;
}

.textModern p {
    margin-top: 20px;
    font-size: 18px;
    color: #dadee5;
}

.btn {
    margin-top: 30px;
    display: inline-block;
    background: #c7a489;
    padding: 12px 30px;
    border-radius: 6px;
    color: #141414;
    font-weight: bold;
}

.btn:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease;
}