body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}
.box{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;    /* Centraliza a caixa na tela */
    padding: 0 20px     /* Margem de segurança para celulares */
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 90px;
    width: 100%;
    background: transparent;
    position: fixed;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.header.scrolled {
    background: rgba(0, 0, 0, 0.85); /* preto ao rolar */
    backdrop-filter: blur(4px);
}

.headerContent{
    display: flex;
    justify-content: space-around;
    
}

.logoHeader{
    width: 50%;
    height: 90px;
    align-items: center;
    
}

img{
    height: 100px;
    width: 190px;
}

.header-right{
    display: flex;
    flex: 6;
    align-items: center;
    gap: 20px;
    width: 50%;
    color: white;
}

.header-right div {
    position: relative;
    display: inline-block; /* garante que a largura seja do texto */
    padding-bottom: 4px;   /* espaço para a barra */
}

.header-right div:hover{
    cursor: pointer;
    color: #c7a489;
    transition: backgound-color 0.3s ease-in-out;
}

.header-right div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;          /* espessura do sublinhado */
    width: 0%;            /* começa invisível */
    background: #c7a489;    /* cor da barra */
    transition: width 0.35s ease; /* suavização */
}

.header-right div:hover::after {
    width: 100%; /* cresce como barra de carregamento */
}

.oEstudio{
    white-space: nowrap;
}

.modern {
    position: relative;
    height: 1000px;
    width: 100%;
    background-image: url('arte.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.modern::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7); /* escurece a imagem */
    z-index: 1;
}

.textModern {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
}

.textModern h1 {
    font-size: 64px;
    line-height: 1.1;
    font-weight: 900;
}

.textModern h1 span {
    color: #c7a489;
}

.textModern p {
    margin-top: 20px;
    font-size: 20px;
    color: #dadee5;
}

.btn {
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    background: #c7a489;
    padding: 12px 30px;
    border-radius: 6px;
    color: #141414;
    font-weight: bold;
}

.btn:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease;
}


.sobreNos{
    background-color: #141414;
    height: 700px;
    width: 100%;
    color: white;
}

.sobreNosContent{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 0;
}

.sobreNosImagem{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 50%;
    height: 500px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    
}

.sobreNosImagem:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.slide-item {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Corta a imagem para preencher sem esticar */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* A classe que deixa visível */
.slide-item.ativo {
    opacity: 1;
}

.sobreNosTexto{
    width: 50%;
    font-size: 20px;
}

.sobreNosTexto h1{
    font-size: 55px;
}

.sobreNosTexto p{
    font-size: 20px;
    color: #dadee5;;
}

.btn2{
    margin-top: 30px;
    display: inline-block;;
    padding: 12px 30px;
    border: 2px solid #c7a489;
    border-radius: 8px;
    color: #c7a489;
    font-weight: bold;
}

.btn2:hover{
    color: black;
    background-color: #c7a489;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.listaNos{
    list-style: none; /* Remove a bolinha preta padrão */
    padding: 0;       /* Remove o recuo padrão */
    margin: 0;
}

.listaNos li{
    position: relative;
    padding-left: 25px; /* Abre espaço para o ícone não ficar em cima do texto */
    margin-bottom: 12px; /* Espaço entre as linhas */
    color: #dadee5;;      /* Cor do texto (cinza claro) */
    font-size: 20px;
    line-height: 1.5;
}

.listaNos li::before{
    content: "\2713";    /* Esse código gera o símbolo ✓ */
    position: absolute;
    left: 0;
    top: 0;
    color: #c7a489;      /* A sua cor dourada */
    font-weight: bold;   /* Deixa o check mais grossinho se precisar */
}